*{
    margin: 0 auto;
}
header{
    text-align: center;
    font-family: Forte;
    font-size: 30px;
    height: 20%;
    background-image: url(../img/fondo-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    color: rgb(214, 228, 240);
}
section{
    text-align: center;
    font-size: 22px;
    padding: 2%;
    height: 70%;
    background-image: url(../img/fondo3-section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(214, 228, 240);
}
h2{
    padding-bottom: 35px;
    font-size: 30px;
}
footer{
    height: 10%;
    background-color: rgb(17, 17, 19);
    color: rgb(214, 228, 240);
}